html, body {
	width: 100%;
	height: 100%;
}

body {
	background: #303133;
}

.table-striped>tbody>tr, .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: transparent;
}

.table>thead>tr>th {
	color: #dadada;
	font-weight: 400
}

.instructorApp {
	padding: 54px 7%;
}

.no-padding {
	padding: 0;
}

.tests-case-area{
	max-height: 440px;
	overflow-y: auto;
}

.test-case-argument {
	margin-bottom: 10px;
}

.row {
	margin-bottom: 10px;
}

h3 {
	padding-bottom: 8px;
	color: #dadada;
}

label {
	color: #dadada;
	font-weight: 400;
}

input {
	padding: 5px 8px;
	color: #fff;
	background: rgb(64, 64, 66);
	border: none;
}

textarea {
	color: #fff;
	background: rgb(64, 64, 66);
	border: none;
	resize: none;
}

.lint-setting-line {
	height: 34px;
	line-height: 34px;
}

.lint-setting-value-field {
	max-width: 55px;
	margin-left: 15px;
	line-height: 0;
}

.lint-setting-label {
	margin-left: 8px;
}

.toolbar {
	height: 54px;
	background: #131519;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.logo {
	color: #fff;
	line-height: 54px;
	margin-left: 50px;
	letter-spacing: 3px;
}